In [12]:
import os
import pandas as pd
import requests

In [13]:
emissions_csv_url = os.environ.get("EMISSIONS_CSV_URL")
print(emissions_csv_url)

https://nyc3.digitaloceanspaces.com/owid-public/data/co2/owid-co2-data.csv

In [14]:
emissions_df = pd.read_csv(emissions_csv_url)
print(emissions_df)

           country  year iso_code  population           gdp  cement_co2  \
0      Afghanistan  1850      AFG   3752993.0           NaN         NaN
1      Afghanistan  1851      AFG   3767956.0           NaN         NaN
2      Afghanistan  1852      AFG   3783940.0           NaN         NaN
3      Afghanistan  1853      AFG   3800954.0           NaN         NaN
4      Afghanistan  1854      AFG   3818038.0           NaN         NaN
...            ...   ...      ...         ...           ...         ...
48053     Zimbabwe  2018      ZWE  15052191.0  2.271535e+10       0.558
48054     Zimbabwe  2019      ZWE  15354606.0           NaN       0.473
48055     Zimbabwe  2020      ZWE  15669663.0           NaN       0.496
48056     Zimbabwe  2021      ZWE  15993525.0           NaN       0.531
48057     Zimbabwe  2022      ZWE  16320539.0           NaN       0.531

       cement_co2_per_capita     co2  co2_growth_abs  co2_growth_prct  ...  \
0                        NaN     NaN             NaN              NaN  ...
1                        NaN     NaN             NaN              NaN  ...
2                        NaN     NaN             NaN              NaN  ...
3                        NaN     NaN             NaN              NaN  ...
4                        NaN     NaN             NaN              NaN  ...
...                      ...     ...             ...              ...  ...
48053                  0.037  10.715           1.419           15.265  ...
48054                  0.031   9.775          -0.939           -8.765  ...
48055                  0.032   7.850          -1.926          -19.700  ...
48056                  0.033   8.396           0.547            6.962  ...
48057                  0.033   8.856           0.460            5.477  ...

       share_global_other_co2  share_of_temperature_change_from_ghg  \
0                         NaN                                   NaN
1                         NaN                                 0.165
2                         NaN                                 0.164
3                         NaN                                 0.164
4                         NaN                                 0.163
...                       ...                                   ...
48053                     NaN                                 0.114
48054                     NaN                                 0.113
48055                     NaN                                 0.112
48056                     NaN                                 0.111
48057                     NaN                                   NaN

       temperature_change_from_ch4  temperature_change_from_co2  \
0                              NaN                          NaN
1                            0.000                        0.000
2                            0.000                        0.000
3                            0.000                        0.000
4                            0.000                        0.000
...                            ...                          ...
48053                        0.001                        0.001
48054                        0.001                        0.001
48055                        0.001                        0.001
48056                        0.001                        0.001
48057                          NaN                          NaN

       temperature_change_from_ghg  temperature_change_from_n2o  total_ghg  \
0                              NaN                          NaN        NaN
1                            0.000                          0.0        NaN
2                            0.000                          0.0        NaN
3                            0.000                          0.0        NaN
4                            0.000                          0.0        NaN
...                            ...                          ...        ...
48053                        0.002                          0.0     116.76
48054                        0.002                          0.0     116.03
48055                        0.002                          0.0     113.20
48056                        0.002                          0.0        NaN
48057                          NaN                          NaN        NaN

       total_ghg_excluding_lucf  trade_co2  trade_co2_share
0                           NaN        NaN              NaN
1                           NaN        NaN              NaN
2                           NaN        NaN              NaN
3                           NaN        NaN              NaN
4                           NaN        NaN              NaN
...                         ...        ...              ...
48053                     29.37     -0.088           -0.825
48054                     28.70      0.143            1.463
48055                     25.99      0.818           10.421
48056                       NaN      1.088           12.956
48057                       NaN        NaN              NaN

[48058 rows x 79 columns]

In [15]:
backend_url = os.environ.get("BACKEND_URL")
print(backend_url)

http://localhost:3000/records

In [16]:
keep_columns = [
    "country",
    "year",
    "iso_code",
    "population",
    "gdp",
    "co2",
    "energy_per_capita",
    "energy_per_gdp",
    "methane",
    "nitrous_oxide",
    "share_of_temperature_change_from_ghg",
    "temperature_change_from_ch4",
    "temperature_change_from_co2",
    "temperature_change_from_ghg",
    "temperature_change_from_n2o",
    "total_ghg"
]
continents = [
    "Africa",
    "Antarctica",
    "Asia",
    "Australia",
    "Europe",
    "North America",
    "South America"
]
time_range = range(1900, 2000)

In [17]:
emissions_df = emissions_df[keep_columns]

In [18]:
emissions_df = emissions_df[(emissions_df["iso_code"].notna() | emissions_df["country"].isin(continents)) & emissions_df["year"].isin(time_range)]

In [19]:
# emissions_df = emissions_df.where(pd.notnull(emissions_df), None)
emissions_df = emissions_df.fillna('')

In [20]:
print(emissions_df)

           country  year iso_code  population            gdp     co2  \
50     Afghanistan  1900      AFG   4707744.0
51     Afghanistan  1901      AFG   4751177.0
52     Afghanistan  1902      AFG   4802500.0
53     Afghanistan  1903      AFG   4861833.0
54     Afghanistan  1904      AFG   4921891.0
...            ...   ...      ...         ...            ...     ...
48030     Zimbabwe  1995      ZWE  10994044.0  23569784832.0  15.028
48031     Zimbabwe  1996      ZWE  11178171.0  26145746944.0  14.909
48032     Zimbabwe  1997      ZWE  11362406.0  27012548608.0  13.912
48033     Zimbabwe  1998      ZWE  11548365.0  27984269312.0  14.131
48034     Zimbabwe  1999      ZWE  11716452.0  27841265664.0  15.728

      energy_per_capita energy_per_gdp methane nitrous_oxide  \
50
51
52
53
54
...                 ...            ...     ...           ...
48030          4794.385          2.236    8.91          4.82
48031           4844.43          2.071   10.49          5.88
48032          4702.475          1.978   10.73          5.77
48033          4663.501          1.925   11.47          6.06
48034          5294.742          2.228   11.88          6.23

      share_of_temperature_change_from_ghg temperature_change_from_ch4  \
50                                   0.156                         0.0
51                                   0.155                         0.0
52                                   0.155                         0.0
53                                   0.154                         0.0
54                                   0.153                         0.0
...                                    ...                         ...
48030                                0.119                         0.0
48031                                0.119                         0.0
48032                                0.119                         0.0
48033                                 0.12                         0.0
48034                                0.121                         0.0

      temperature_change_from_co2 temperature_change_from_ghg  \
50                            0.0                         0.0
51                            0.0                         0.0
52                            0.0                         0.0
53                            0.0                         0.0
54                            0.0                         0.0
...                           ...                         ...
48030                       0.001                       0.001
48031                       0.001                       0.001
48032                       0.001                       0.001
48033                       0.001                       0.001
48034                       0.001                       0.001

      temperature_change_from_n2o total_ghg
50                            0.0
51                            0.0
52                            0.0
53                            0.0
54                            0.0
...                           ...       ...
48030                         0.0     39.67
48031                         0.0     41.71
48032                         0.0     40.83
48033                         0.0     42.12
48034                         0.0     44.46

[22400 rows x 16 columns]

In [21]:
def send_post_request(row):
    payload = row.to_dict()
    response = requests.post(backend_url, json=payload)
    if (response.status_code != 201):
        print(f'Response for row {row.name}: {response.status_code}')

In [22]:
emissions_df.apply(send_post_request, axis=1)

50       None
51       None
52       None
53       None
54       None
         ...
48030    None
48031    None
48032    None
48033    None
48034    None
Length: 22400, dtype: object